<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PSW_lab4.Properties.Settings.psw_lab4ConnectionString"
            connectionString="user id=admin;server=127.0.0.1;database=psw_lab4;persistsecurityinfo=True;password=admin"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>